.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header .username {
    font-weight: bold;
    margin-right: 10px;
}

.post-header .timestamp {
    color: #666;
}

.post-content {
    margin-bottom: 10px;
}

.post-footer {
    display: flex;
    align-items: center;
}
.myList {
  display: none;
}
.post-footer button {
    border: none;
    background: none;
    font-weight: bold;
    color: #999;
    margin-right: 10px;
}

.post-footer button:hover {
    cursor: pointer;
    color: #333;
}

.hidden {
  display: none;
}
.post-option {
    box-sizing: border-box;
    background: white;
    min-height: 100px;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 5px;
    display: flex;
    position: relative;
    font-size: 30px;
}

.post-option ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex
}

.post-option ul li {
    width: 100%;
    list-style-type: none
}

.post-option ul svg {
    margin-bottom: 5px
}


.text-area-for-comments {
    display: block;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
  }


  .list-for-update-delete {
    margin: 20px 0;
  }

  .list-for-update-delete li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
  }


  .comment-text-bubble {
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: 70%;
  }

  .comment-text-bubble:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #f1f1f1;
    border-bottom: 10px solid transparent;
  }

.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown-container .dropbtn-update-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.dropdown-update-delete-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  border-radius: 10px;
  padding: 5px 10px;
  right: 0;
  top: 30px;
}

.dropdown-update-delete-content div {
  margin: 5px 0;
}

.dropdown-container:hover .dropdown-update-delete-content,
.dropdown-container:focus-within .dropdown-update-delete-content {
  display: block;
}

.hide-dropdown-btn:focus ~ .dropdown-container .dropdown-update-delete-content {
  display: none;
}

.show-dropdown-btn:focus ~ .dropdown-container .dropdown-update-delete-content {
  display: block;
}
