.create-post-username-gear {
    display: flex;
    justify-content: space-between;
}


.create-post-close-for-everyone-post-now-button {
    display: flex;
    justify-content: space-between;

}

.create-post-username,
.fa.fa-gear {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.create-post-close-button {
    border-radius: 25px;
    border-width: 0px;
    background-color: rgb(209, 207, 207);
    color: rgb(103, 103, 103);
    padding: 2px 14px 2px 14px;
}

.fa.fa-gear {
    margin-top: 14px;
    margin-right: 2px;
}

.create-post-for-everyone-button {
    margin: 0 10px;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    padding: 2px 14px 2px 14px;

}

.create-post-textarea {
    resize: none;
    border: none;
    outline: none;
    border-bottom: 1px solid black;

}

.create-post-post-now-button {
    margin-right: 10px;
    border-radius: 25px;
    border-width: 0px;
    color: gray;
    background-color: rgb(218, 217, 217);
    opacity: 0.5;
    padding: 2px 14px 2px 14px;
}
