#root {
  background-color: #0a1b40;
}

.Feed {
  max-width: 600px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

.post {
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header .username {
  font-weight: bold;
  margin-right: 10px;
}

.post-header .timestamp {
  color: #666;
}

.post-content {
  margin-bottom: 10px;
}

.post-footer {
  display: flex;
  align-items: center;
}

.post-footer button {
  border: none;
  background: none;
  font-weight: bold;
  color: #999;
  margin-right: 10px;
}

.post-footer button:hover {
  cursor: pointer;
  color: #333;
}

.post-option {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
}

.post-option a {
  font-size: 20px;
  color: #333;
  margin-right: 20px;
}

.comment-section {
  margin-top: 20px;
}

.comment-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.comment-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-section li {
  margin-bottom: 10px;
}

.comment-section .comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.comment-section .comment-header .username {
  font-weight: bold;
  margin-right: 10px;
}

.comment-section .comment-header .timestamp {
  color: #666;
}

.comment-section .comment-content {
  font-size: 14px;
  color: #333;
}
