#root {
    background-color: #0a1b40;
  }

  .Feed {
      max-width: 600px;
      margin: 0 auto;
      font-family: Helvetica, Arial, sans-serif;
    }


    .post {
      background-color: #fff;
      border: 1px solid #dddfe2;
      border-radius: 5px;
      padding: 16px;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
