.hidden {
    display: none;
}

.profile-dropdown-login {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    z-index: 1;
  }

  .profile-dropdown-login.hidden {
    display: none;
    height: 667px;

  }
  .profile-dropdown-login:not(.hidden) {
    display: block;
    height: 724px;
}
.options-for-drop-down {
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  width: 210px;
  font-size: 12px;
}

.options-for-drop-down ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.options-for-drop-down li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color:black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.options-for-drop-down li:hover {
  background-color: #f5f5f5;
}

.options-for-drop-down li i {
  margin-right: 10px;
}

.options-for-drop-down button {
  display: flex;
  align-items: center;
  padding: 1px 3px;
  color: #333;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.options-for-drop-down button:hover {
  background-color: #f5f5f5;
}

.options-for-drop-down button i {
  margin-right: 10px;
}
.top-dropdown-menu-options{
display: flex;
justify-content: space-evenly;
font-size: 10px;
align-items: center;
background-color: rgba(228, 228, 228, 0.697);
}

