.rmkqO {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .IiZ2z {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    color: white;
  }

  .Il4T7 {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .dyc2r {
        flex: 1 1;
        border: none;
        outline: none;
        padding: 16px;
        font-size: 16px;
        /* border-radius: 4px 0 0 4px; */
        color: white;
        width: 330px;
    border-radius: 13px;
  }

  .TRX6J {
    border: none;
    outline: none;
    padding: 12px;
    list-style: none;
    background-color: 0, 25, 53;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding-left: 1px;
    margin-left: 15px;
  }

  .TRX6J:hover {
    background-color: #0062cc;
  }

  .TRX6J:active {
    transform: translateY(2px);
  }

  .TRX6J:disabled {
    background-color: #d9d9d9;
    color: #a6a6a6;
    cursor: not-allowed;
  }

  .EvhBA {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    list-style: none;
    text-align: center;
  }
  .EvhBA.Tb7Ey{
    display: flex;
  }


  .NedHV {
    border-top: 1px solid #d9d9d9;
    margin-top: 16px;
    padding-top: 16px;
    width: 100%;
  }
