form.create-post-area-comments-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .create-post-textarea-comments {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    width: 450px;
    resize: none;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  form.create-post-textarea-comments-form{
    display: flex;
  }

  .submit-comment{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 13px; */
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
